<div class=".animate__animated animate__fadeIn animate__faster">
    <div class="container">


        <div class="row">
            <div class="col-8">
                <h1 class="text-ver fw-bold mb-4">{{titulo | uppercase}}</h1>
            </div>
            <div class="col-4"  *ngIf="facturas.length == 0">
                <h3 class="float-end">Agregar Factura
                <button class="btn btn-success" [routerLink]="'/form/factura'"><i class="fa-solid fa-plus"></i></button>
            </h3>
            </div>
        </div>


        <div class="row mb-5">
            <div class="card  pb-3" *ngIf="facturas.length> 0">
                <div class="card-body">
                        <div class="row">
                                <div class="card-title">
                                    <h3 class="float-start mt-1">Facturas
                                        ({{facturas.length}})</h3>
                                    <a *ngIf="!conFiltroFecha" (click)="openModal()" class="stat  float-end fs-3 me-4">
                                        <i class="fa-sharp fa-regular fa-calendar"></i>
                                    </a>
                                    <div *ngIf="conFiltroFecha" class="  float-end me-4">
                                        <p class="inline-one">Quitar filtro: </p>
                                        <a (click)="getPedido()" class="stat inline-one fs-3">
                                            
                                            <i class="fa-solid fa-ban"></i>
                                        </a>
                                    </div>
                                </div>


                                
                        </div>
                    </div>

    
                                    
                <div class="card-text">
                    <!-- TABLE -->
                    <div class="table-responsive table-upgrade">
                    <table class="table table-striped table-hover">
                        <thead >
                            <tr class="bg-blue">
                                <th scope="col">Codigo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Total</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Empleado</th>
                                <th scope="col"><button class="btn btn-success" routerLink="/form/factura" ><i class="fa-solid fa-plus"></i></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- rengo-tabla -->
                            <tr *ngFor="let factura of facturas">
    
                                <td>{{factura.codigo_factura }}</td>
                                <td>{{factura.fecha_factura!.slice(0, 19).replace('T', ' / ')}}</td>
                                <td>{{factura.total | currency: 'USD' }}</td>
                                <td>{{ setCliente(factura.cc_cliente!) }}</td>
                                <td >{{setSede(factura.id_sede)}}</td>
                                <td>{{setEmpleado(factura.id_empleado)}}</td>
                                <td>
                                    <a [routerLink]="['/form/factura', factura.id_factura]">
                                        <i class="fa-solid fa-eye me-2"></i></a>
                                    <a (click)="dropPedido(factura.id_factura ?? 0)"><i
                                            class="fa-solid fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>
                <ul  *ngIf="totalItems > 10"  class="list-group list-group-horizontal center text-center
                    justify-content-center">
                    <li class="list-group-item p-0 mb-0"><button [disabled]="ini ===
                            1"
                            (click)="izqFelcha()" class="btn
                            btn-light"><i class="fa-sharp fa-solid fa-arrow-left"></i></button></li>
                    <!-- Rango-lista -->
                    <div *ngFor="let i of ranges(ini, fin)">
                        <li class="list-group-item p-0 mb-0"><button
                                (click)="showTable(i)" class="btn
                                btn-colorAPP me-1 ms-1 " [disabled]="i*10 ===
                                maxToShow">{{i}}</button></li>
                    </div>
    
                    <li class="list-group-item p-0
                        mb-0"><button [disabled]="fin === itemsLista"
                            (click)="derFelcha()" class="btn
                            btn-light"><i class="fa-solid fa-arrow-right"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal" #modal>
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>

        <h1>FILTRAR POR FECHA</h1>
        <hr class="divider bg-danger" style="height:2px;">
        

        <form [formGroup]="formFechaRango">
            <div class="row mb-5">
                <div class="col-6">
            
                    <span class="d-inline-block">Desde: </span>
                    <input type="datetime-local"  placeholder="Buscar" formControlName="fechaDesde"
                    class="form-control d-inline-block" [(ngModel)]="fechaDesde"/>
                </div>
                <div class="col-6">
                    <span class="d-inline-block">Hasta: </span> 
                    <input type="datetime-local" placeholder="Buscar" formControlName="fechaHasta"
                    class="form-control d-inline-block" [(ngModel)]="fechaHasta"/>  
                </div>
            </div>
                <button type="submit" class="btn btn-primary " (click)="buscar()" [disabled]="formFechaRango.invalid || fechaDesde == fechaHasta">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        </form>
            
    </div>
</div>