<div class="animate__animated animate__fadeIn animate__faster">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <p class="float-start mb-0 mt-1">Nuevo Producto</p>
                <button class="btn btn-success ms-2"
                    data-bs-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false"
                    aria-controls="collapseExample"><i class="fa-solid
                        fa-cart-plus"></i></button>
            </div>

            <div id="collapseExample" class="collapse card-text">
                <!-- FORMULARIO -->
                <form [formGroup]="formProducto" (ngSubmit)="agregarProducto()">
                    <div class="container">
                        <div class="row">
                            <p>Los campos marcados con (<span
                                    class="text-danger"><strong>*</strong></span>)
                                son obligatorios</p>
                            <div class="col-6">

                                <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Nombre
                                    del producto: </p>
                                <input
                                    formControlName="nombre_producto"
                                    type="text" class="form-control">

                                <span class="text-danger"
                                    *ngIf="formProducto.get('nombre_producto')?.hasError('required')
                                    &&
                                    formProducto.get('nombre_producto')?.touched">El
                                    nombre del producto es <strong>es
                                        obligatorio</strong></span><!-- <-- SPAM -->

                                <span class="text-danger"
                                *ngIf="formProducto.get('nombre_producto')?.errors?.['maxlength']">El
                                Maximo es <strong>50</strong> catacteres</span><!-- <-- SPAM -->
                            

                                <p class="mt-2 mb-0">Descripción del producto:</p>
                                <textarea
                                    type="text" class="form-control" cols="7"
                                    rows="7"
                                    formControlName="descripcion_producto"></textarea>
                                    <span class="text-danger"
                                *ngIf="formProducto.get('descripcion_producto')?.errors?.['maxlength']">El
                                Maximo es <strong>300</strong> catacteres</span><!-- <-- SPAM -->
                            </div>
                            <div class="col-6">
                                <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Precio:</p>
                                <input
                                    formControlName="precio_producto"
                                    type="number" class="form-control">

                                <span class="text-danger"
                                    *ngIf="formProducto.get('precio_producto')?.hasError('required')
                                    &&
                                    formProducto.get('precio_producto')?.touched">El
                                    precio del producto es <strong>es
                                        obligatorio</strong></span><!-- <-- SPAM -->

                                <p class="mt-2 mb-0">Cantidad:</p>
                                <input
                                    formControlName="cantidad_producto"
                                    type="number" class="form-control">

                                <p class="mt-2 mb-0">Stock:</p>
                                <input
                                    formControlName="stock"
                                    type="number" class="form-control">

                                <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Categoria:</p>
                                <select formControlName="id_categoria_producto">
                                    <option *ngFor="let categoria of categorias"
                                        value="categoria.id_categoria_producto">{{categoria.nombre_categoria_producto}}</option>
                                </select>
                                <br>

                                <span class="text-danger"
                                    *ngIf="formProducto.get('id_categoria_producto')?.hasError('required')
                                    &&
                                    formProducto.get('id_categoria_producto')?.touched">La
                                    categoria del producto es <strong>es
                                        obligatoria</strong></span><!-- <-- SPAM -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <button type="submit" class="btn btn-success"
                        [disabled]="formProducto.invalid">Crear</button>
                </form>
            </div>
        </div>
    </div>


    <div class="card" *ngIf="productos.length > 0">
        <div class="card-body ">
            <div class="card-title m-20">
                <p class="float-start mt-1">Lista de Porductos
                    ({{totalItems}} productos)</p>
            </div>
            <div class="card-text text-center">
                <table class="table table-striped mt-25">
                    <thead class="bg-blue">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cadegoria</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- rengo-tabla -->
                        <tr *ngFor="let producto of productos.slice(minToShow,
                            maxToShow)">

                            <td class="p-0">{{producto.nombre_producto}}</td>
                            <td>{{producto.descripcion_producto}}</td>
                            <td>{{categorias[producto.id_categoria_producto-1].nombre_categoria_producto}}</td>
                            <td>{{producto.precio_producto | currency: 'USD'}}</td>
                            <td>{{producto.cantidad_producto}}</td>
                            <td><span class="badge bg-success">{{producto.stock}}</span></td>
                            <td>
                                <a><i class="fa-solid fa-pen-to-square
                                        text-primary me-2"></i></a>
                                <a><i class="fa-solid fa-trash text-danger"></i></a>
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>
            <ul class="list-group list-group-horizontal center text-center
                justify-content-center">
                <li class="list-group-item p-0 mb-0"><button [disabled]="ini ===
                        1"
                        (click)="izqFelcha()" class="btn
                        btn-light"><i class="fa-sharp fa-solid fa-arrow-left"></i></button></li>
                <!-- Rango-lista -->
                <div *ngFor="let i of ranges(ini, fin)">
                    <li class="list-group-item p-0 mb-0"><button
                            (click)="showTable(i)" class="btn
                            btn-colorAPP me-1 ms-1 " [disabled]="i*20 ===
                            maxToShow">{{i}}</button></li>
                </div>

                <li class="list-group-item p-0
                    mb-0"><button data-bs-toggle="collapse" href="#collapseExample" [disabled]="fin === itemsLista"
                        (click)="derFelcha()"  class="btn
                        btn-light"><i class="fa-solid fa-arrow-right"></i></button></li>
            </ul>
        </div>
    </div>
    <div class="card" *ngIf="productos.length == 0">
    <h1 class="text-center pt-5 pb-5" >No hay productos por el momento</h1>
    </div>

</div>
