<div class="animate__animated animate__fadeIn animate__faster">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <p class="float-start mb-0 mt-1">Nuevo Producto</p>
                <button class="btn btn-success ms-2"
                    data-bs-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false"
                    aria-controls="collapseExample"><i class="fa-solid
                        fa-cart-plus"></i></button>
            </div>

            <div id="collapseExample" class="collapse card-text">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">

                                <p class="mt-2 mb-0">Nombre del producto:</p><input type="text" class="form-control">
                                <p class="mt-2 mb-0">Descripción del producto:</p><textarea type="text" class="form-control" cols="7" rows="7"></textarea>
                                
                            </div>
                            <div class="col-6">
                                <p class="mt-2 mb-0">Precio:</p><input type="number" class="form-control">
                                <p class="mt-2 mb-0">Cantidad:</p><input type="number" class="form-control">
                                <p class="mt-2 mb-0">Stock:</p><input type="number" class="form-control">

                                <p class="mt-2 mb-0">Categoria:</p>
                                <select id="country" name="country" >
                                        <option *ngFor="let categoria of categorias" value="australia">{{categoria.nombre_categoria_producto}}</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                
                    <button type="submit" class="btn btn-success">Crear</button>
                </form>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body ">
            <div class="card-title m-20">
                <p class="float-start mt-1">Lista de Porductos
                    ({{totalItems}} productos)</p>
            </div>
            <div class="card-text text-center">
                <table class="table table-striped mt-25">
                    <thead class="bg-blue">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cadegoria</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- rengo-tabla -->
                        <tr *ngFor="let producto of productos.slice(minToShow,
                            maxToShow)">
                            <td class="p-0">{{producto.nombre_producto}}</td>
                            <td>{{producto.descripcion_producto}}</td>
                            <td>{{categorias[producto.id_categoria_producto-1].nombre_categoria_producto}}</td>
                            <td>{{producto.precio_producto}}</td>
                            <td>{{producto.cantidad_producto}}</td>
                            <td><span class="badge bg-success">{{producto.stock}}</span></td>
                            <td>
                                <a><i class="fa-solid fa-pen-to-square
                                        text-primary me-2"></i></a>
                                <a><i class="fa-solid fa-trash text-danger"></i></a>
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>
            <ul class="list-group list-group-horizontal center text-center
                justify-content-center">
                <li class="list-group-item p-0 mb-0"><button [disabled]="ini ===
                        1"
                        (click)="izqFelcha()" class="btn
                        btn-light"><i class="fa-sharp fa-solid fa-arrow-left"></i></button></li>
                
                <!-- Rango-lista -->
                <div *ngFor="let i of ranges(ini, fin)">
                    <li class="list-group-item p-0 mb-0"><button
                            (click)="showTable(i)" class="btn
                            btn-colorAPP me-1 ms-1 " [disabled]="i*20 === maxToShow">{{i}}</button></li>
                </div>

                <li class="list-group-item p-0
                    mb-0"><button [disabled]="fin === itemsLista"
                        (click)="derFelcha()" class="btn
                        btn-light"><i class="fa-solid fa-arrow-right"></i></button></li>
            </ul>
        </div>
    </div>