<div class=".animate__animated animate__fadeIn animate__faster">
    <div class="container">


        <div class="row">
            <div class="col-8">
                <h1 class="text-ver fw-bold mb-4">{{titulo | uppercase}}</h1>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h1 *ngIf="!showEdit; else hora" class="text-warning d-inline-block m-0">Actualizar Datos del Pedido</h1>
                    <ng-template #hora>
                        <h1 class="text-ver d-inline-block m-0">Ingresar Pedido</h1>
                        <h3 class="d-inline-block float-end mt-2 me-5 m-0" *ngIf="!showPut">{{horaActual}}</h3>
                    </ng-template>
                    <hr class="divider bg-danger" style="height:2px;">
                </div>

                <form [formGroup]="formPedido">
                    <div class="row">
                        
                        <div class="col-6">
                            <p >Los campos marcados con (<span
                                class="text-danger"><strong>*</strong></span>)
                                son obligatorios
                            </p>
                        </div>
                        <div class="col-6">
                            <p >Añadir Productos
                                <button class="btn btn-success" (click)="openModal2()"><i class="fa-solid fa-plus"></i></button>
                            </p>
                        </div>
        
                        <div class="col-6 p-2">
                            <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Proveedor: </p>
                                
                            <select class="form-select"formControlName="id_proveedor">
                                <option disabled>Elija un proveedor</option>
                                <option *ngFor="let proveedor of proveedores" value="{{proveedor.id_proveedor}}">{{proveedor.nombre_proveedor}}</option>
                            </select>
                            <span class="text-danger" *ngIf="formPedido.get('id_proveedor')?.hasError('required')
                            && formPedido.get('id_proveedor')?.touched">
                            El proveedor <strong>es obligatorio</strong></span><!-- <-- SPAM -->
        
                            <p class="mt-4 mb-0"><span class="text-danger"><strong>*</strong></span>Sede:</p>
                            <select class="form-select"
                            formControlName="id_sede">
                                <option disabled>Elija una sede</option>
                                <option *ngFor="let sede of sedes" value="{{sede.id_sede}}">{{sede.nombre_sede}}</option>
                            </select>
                            <span class="text-danger"
                            *ngIf="formPedido.get('id_sede')?.hasError('required') && formPedido.get('id_sede')?.touched">
                            La sede es  <strong>Obligatoria</strong></span><!-- <-- SPAM -->
        
        
        
                            <p class="mt-4 mb-0"><span class="text-danger"><strong>*</strong></span>Empleado:</p>
                            <select class="form-select"
                            formControlName="id_empleado">
                                <option disabled>Elija un empleado</option>
                                <option *ngFor="let empleado of empleados" value="{{empleado.id_empleado}}">{{empleado.nombre_empleado}}</option>
                            </select>
                            <span class="text-danger"
                            *ngIf="formPedido.get('id_empleado')?.hasError('required') && formPedido.get('id_empleado')?.touched">
                            El empleado es  <strong>Obligatorio</strong></span><!-- <-- SPAM -->

                            <div *ngIf="!showEdit">
                                <p class="mt-4 mb-0">Estado del pedido:</p>
                                <select class="form-select"
                                formControlName="estado_pedido">
                                    <option value="en proceso">En Proceso</option>
                                    <option value="recibido">Pedido Recibido</option>
                                </select>
                            </div>
                            
        
                            <p class="mt-4 mb-0"><span class="text-danger"><strong>*</strong></span>Fecha de llegada</p>
                            <input type="datetime-local" formControlName="fecha_llegada" class="form-control">
                            <span class="text-danger" *ngIf="formPedido.get('fecha_llegada')?.hasError('required')
                            && formPedido.get('fecha_llegada')?.touched">
                            La fecha de llegada del pedido <strong>es obligatoria</strong></span><!-- <-- SPAM -->
                        </div>
                            
                        <div class="col-6 p-2">


                        <div class="table-responsive table-upgrade">
                            <table class="table table-striped table-hover" *ngIf="productosForm.length > 0">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let proForm of productosForm; index as i" >
                                        <td>{{proForm.nombre_producto}}</td>
                                        <td>{{proForm.cantidad_producto}}</td>
                                        <td>{{proForm.precio_unitario | currency:'USD'}}</td>
                                        <td>
                                            <a 
                                                (click)="getDataProducto(i, proForm.id_producto)">
                                                <i class="fa-solid fa-pen-to-square text-primary me-2"></i>
                                            </a>
                                            <a 
                                                (click)="deletePedidoP(i)">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <hr class="divider bg-danger" style="height:2px;">
                <h4 class="d-inline-block float-end mt-2 me-5 m-0">Total Pedido: {{totalPedido | currency:'USD'}}</h4>
                <button class="btn btn-secondary me-4" (click)="goBack()">Cancelar</button>
                <button (click)="postPedido()" *ngIf="showEdit" type="submit" class="btn
                btn-success d-inline-block"
                [disabled]="formPedido.invalid || productosForm.length == 0"  routerLink="/pedidos">Crear</button>
                <button *ngIf="!showEdit" type="submit" class="btn
                    btn-warning" (click)="putPedido()"
                    [disabled]="formPedido.invalid || productosForm.length == 0"  routerLink="/pedidos">Actualizar</button>
                    
                
                </form>
            </div>
        </div>

    </div>
</div>




<div class="modalProducto p-2" #modalProducto>
    <div class="modal-content2">
        <span class="close" (click)="closeModal2()">&times;</span>
        <h1 *ngIf="!showPut">Ingresar Producto</h1>
        <h1 *ngIf="showPut">Actualizar Producto</h1>
        <hr class="divider bg-danger" style="height:2px;">

        <form [formGroup]="formProductos">

            <div class="row mb-4">
                <div class="col-4">


                    <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Producto: </p>
                    <select *ngIf="!showPut; else nombrePut" class="form-select"
                        formControlName="id_producto"  [(ngModel)]="infoProducto">
                        <option *ngFor="let producto of productos" [ngValue]="{ id_producto:producto.id_producto,  nombre_producto:producto.nombre_producto }">{{producto.nombre_producto}}</option>
                    </select>
                    <span class="text-danger" *ngIf="formProductos.get('id_producto')?.hasError('required')
                        && formProductos.get('id_producto')?.touched">
                        El producto <strong>es obligatorio</strong></span><!-- <-- SPAM -->
                    
                    <ng-template #nombrePut>
                        <h5 formControlName="id_producto" class="form-control">{{productosForm[idPedidoProducto].nombre_producto}}</h5>
                    </ng-template>

                </div>
                <div class="col-4">

                    <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Cantidad:</p>
                    <input type="number" min="1" formControlName="cantidad_producto">
                    <span class="text-danger" *ngIf="formProductos.get('cantidad_producto')?.hasError('required')
                    && formProductos.get('cantidad_producto')?.touched">
                    La cantidad <strong>es obligatoria</strong></span><!-- <-- SPAM -->
                </div>
                <div class="col-4">

                    <p class="mt-2 mb-0"><span class="text-danger"><strong>*</strong></span>Precio unitario:</p>
                    <input type="number" min="1" formControlName="precio_unitario">
                    <span class="text-danger" *ngIf="formProductos.get('precio_unitario')?.hasError('required')
                    && formProductos.get('precio_unitario')?.touched">
                    El precio unitario <strong>es obligatorio</strong></span><!-- <-- SPAM -->
                </div>
            </div>




            <button *ngIf="!showPut" type="submit" class="btn
                btn-success" (click)="asignarProducto()"
                [disabled]="formProductos.invalid">Agregar</button>
            <button *ngIf="showPut" type="submit" class="btn
                btn-warning" (click)="putPedidoProducto()"
                [disabled]="formProductos.invalid">Actualizar</button>

        </form>
    </div>
</div>