.card a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: all 400ms ease;
}

.card:hover {
    transform: translateY(-1%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.no-hover:hover {
    cursor: default;
}

.dire {
    color: #222e3c;
}

.contenido a:hover {
    color: #000;
}

.btn-float {
    border-radius: 50%;
    font-size: 20px;
}



  
  
  