<div class="animate__animated animate__fadeIn animate__faster">
  <div class="card">
    <div class="card-body text-center">
      <span class="titulo">LISTADO DE PRODUCTOS</span>
      <button class="btn btn-success float-end" routerLink="crear-producto">NUEVO</button>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cadegoria</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Coca Cola</th>
            <td>Bebida</td>
            <td>Colombia</td>
            <td>1.200</td>
            <td>
              <i class="fa-solid fa-pen-to-square text-primary"></i>
              <i class="fa-solid fa-trash text-danger"></i></td>
          </tr>
          <tr>
            <th scope="row">Malboro</th>
            <td>Cigarrillo</td>
            <td>Colombia</td>
            <td>2.200</td>
            <td>
              <i class="fa-solid fa-pen-to-square text-primary"></i>
              <i class="fa-solid fa-trash text-danger"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
