<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="sede">
            <span class="align-middle">{{_servicio.info.titulo}}</span>
            <img class="logo-img" src="assets/img/photos/logo.png" width="46%">
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                {{_servicio.info.cat1?.titulo}}
            </li>

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="sede">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">{{_servicio.info.cat1?.item1}}</span>
                </a>
            </li>
            <li class="sidebar-header">
                {{_servicio.info.cat1?.titulo}} de sedes
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link"
                    data-bs-toggle="collapse" href="#sede" role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample" (click)="expandidaSede()">
                    <!-- <i class="fa-solid fa-shop"></i> -->
                    <i *ngIf="!expandida" class="fa-solid fa-chevron-up
                        fa-rotate-90"></i>
                    <i *ngIf="expandida" class="fa-solid fa-chevron-up
                        fa-rotate-180"></i>
                    <span
                        class="align-middle">
                        Sedes</span>
                </a>
            </li>

                <ul id="sede" class="sidebar-nav collapse">
                    <li routerLinkActive="active" class="sidebar-item"
                        *ngFor="let sede of sedes">

                        <a class="sidebar-inside-one"
                            data-bs-toggle="collapse" href="#sede-{{sede.id_sede}}"
                            role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="fa-solid fa-store"></i>
                            <span
                                class="align-middle">{{sede.nombre_sede}}</span>
                        </a>
                        <ul id="sede-{{sede.id_sede}}" class="sidebar-nav collapse">
                            <li routerLinkActive="active" class="sidebar-item">
                                <a class="sidebar-inside-two" routerLink="compras/{{sede.id_sede}}">
                                    <i class="fa-solid fa-cash-register"></i>
                                    <span
                                        class="align-middle">Ventas</span>
                                </a>
                            <li routerLinkActive="active" class="sidebar-item">
                                <a class="sidebar-inside-two" routerLink="compras/{{sede.id_sede}}">
                                    <i class="fa-solid fa-list"></i>
                                    <span
                                        class="align-middle">Pedidos</span>
                                </a>
                            <li routerLinkActive="active" class="sidebar-item">
                                <a (click)="cambiarSede(sede.id_sede)" class="sidebar-inside-two">
                                    <i class="fa-solid fa-bicycle"></i>
                                    <span
                                        class="align-middle">Stock</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            <li class="sidebar-header">
                General
            </li>
            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="categorias">
                    <i class="fa-solid fa-circle-nodes"></i> <span
                        class="align-middle">{{_servicio.info.cat1?.item4}}</span>
                </a>
            </li>

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="productos">
                    <i class="fa-solid fa-bicycle"></i> <span
                        class="align-middle">{{_servicio.info.cat1?.item3}}</span>
                </a>
            </li>

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="proveedores">
                    <i class="align-middle" data-feather="truck"></i> <span
                        class="align-middle">{{_servicio.info.cat1?.item5}}</span>
                </a>
            </li>


            <li class="sidebar-header">
                {{_servicio.info.cat2?.titulo}}
            </li>

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="sorry">
                    <i class="align-middle" data-feather="user-check"></i> <span
                        class="align-middle">{{_servicio.info.cat2?.item1}}</span>
                </a>
            </li>

            <!-- <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="sorry">
                    <i class="align-middle" data-feather="percent"></i> <span
                        class="align-middle">{{_servicio.info.cat2?.item2}}</span>
                </a>
            </li> -->

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="compras">
                    <i class="fa-solid fa-cash-register"></i>
                    <span
                        class="align-middle">Ventas</span>
                </a>
            </li>

            <li class="sidebar-header">
                {{_servicio.info.cat3?.titulo}}
            </li>
            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="sorry">
                    <i class="align-middle" data-feather="log-in"></i> <span
                        class="align-middle">{{_servicio.info.cat3?.item1}}</span>
                </a>
            </li>

            <li routerLinkActive="active" class="sidebar-item">
                <a class="sidebar-link" routerLink="empleados">
                    <i class="align-middle" data-feather="user-plus"></i> <span
                        class="align-middle">{{_servicio.info.cat3?.item2}}</span>
                </a>
            </li>

            <!-- <li class="sidebar-item">
                <a class="sidebar-link" href="charts-chartjs.html">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span
                        class="align-middle">Charts</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i> <span
                        class="align-middle">Maps</span>
                </a>
            </li> -->
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">{{_servicio.info.info?.titulo}}</strong>
                <div class="mb-3 text-sm">
                    {{_servicio.info.info?.cuerpo}}
                </div>
                <div class="d-grid">
                    <a class="btn btn-primary">Hacer pedido</a>
                </div>
            </div>
        </div>
    </div>
</nav>