.sidebar-brand{
    transition: all 500ms ease;

}
.sidebar-brand .logo-img {
    transition: all 500ms ease;
    visibility: hidden;
    display: none;
}
/* #70AD47 */
.sidebar-brand:hover .logo-img{
    transition: all 500ms ease;
    visibility: visible;
    display: flex;
}
.sidebar-brand:hover{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    transition: all 500ms ease;
    background-color: white;
}
.sidebar-brand:hover .align-middle{
    transition: all 500ms ease;
    visibility: hidden;
    display: none;
}

.sidebar-inside-one,
a.sidebar-inside-one {
    background: #222e3c;
    border-left: 3px solid transparent;
    color: rgba(233, 236, 239, .5);
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: .625rem 2.5rem;
    position: relative;
    text-decoration: none;
    transition: background .1s ease-in-out
}

.sidebar-inside-one i,
.sidebar-inside-one svg,
a.sidebar-inside-one i,
a.sidebar-inside-one svg {
    color: rgba(233, 236, 239, .5);
    margin-right: .75rem
}

.sidebar-inside-one:focus {
    outline: 0
}

.sidebar-inside-one:hover {
    background: #222e3c;
    border-left-color: transparent
}

.sidebar-inside-one:hover,
.sidebar-inside-one:hover i,
.sidebar-inside-one:hover svg {
    color: rgba(233, 236, 239, .75)
}

.sidebar-item.active .sidebar-inside-one:hover,
.sidebar-item.active>.sidebar-inside-one {
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left-color: #3b7ddd;
    color: #e9ecef
}

.sidebar-item.active .sidebar-inside-one:hover i,
.sidebar-item.active .sidebar-inside-one:hover svg,
.sidebar-item.active>.sidebar-inside-one i,
.sidebar-item.active>.sidebar-inside-one svg {
    color: #e9ecef
}

.sidebar-inside-two,
a.sidebar-inside-two {
    background: #70AD47;
    border-left: 3px solid transparent;
    color: rgba(233, 236, 239, .5);
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: .625rem 2.5rem;
    position: relative;
    text-decoration: none;
    transition: background .1s ease-in-out
}

.sidebar-inside-two i,
.sidebar-inside-two svg,
a.sidebar-inside-two i,
a.sidebar-inside-two svg {
    color: rgba(233, 236, 239, .5);
    margin-right: .75rem
}

.sidebar-inside-two:focus {
    outline: 0
}

.sidebar-inside-two:hover {
    background: #70AD47;
    border-left-color: transparent
}

.sidebar-inside-two:hover,
.sidebar-inside-two:hover i,
.sidebar-inside-two:hover svg {
    color: rgba(233, 236, 239, .75)
}

.sidebar-item.active .sidebar-inside-two:hover,
.sidebar-item.active>.sidebar-inside-two {
    background: linear-gradient(90deg, #70AD47, #89d159 100%, #70AD47);
    border-left-color: #b7ed92;
    color: #e9ecef
}

.sidebar-item.active .sidebar-inside-two:hover i,
.sidebar-item.active .sidebar-inside-two:hover svg,
.sidebar-item.active>.sidebar-inside-two i,
.sidebar-item.active>.sidebar-inside-two svg {
    color: #e9ecef
}
