
.card{
    padding: 48px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0.3, 0, 0, 0.3);

}

.container{
    margin: 15% auto;
    margin-top: 5%;
    width: 80%;
    max-width: 600px;
}
.sidebar-brand{
    transition: all 500ms ease;

}
/* #70AD47 */
.sidebar-brand .logo-img{
    transition: all 500ms ease;
    visibility: visible;
    display: flex;
}
.sidebar-brand{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: all 500ms ease;
    background-color: white;
}
.buttonT {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #70AD47;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .buttonT:disabled{
    color: #fff;
    background-color: #a6ba98;
    border-color:  #92b37c;
    cursor: default;
  }
  .buttonT:hover:disabled {
    color: #fff;
    background-color: #a6ba98;
    border-color:  #92b37c;
    cursor: default;
  }

  .buttonT:hover{
    color: #70AD47;
    transform: translateY(-7px);
    background-color: #222e3c;
  }
  .buttonT:active {
    transform: translateY(-1px);
  }

  .group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 100%;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }
