
.card{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}
.card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #2fb4cc;
    transition: all 400ms ease;
}
.card:hover{
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

}